@import '../../assets/styles/variables.scss';

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    margin: 0 auto;
    column-gap: 5px;
  }

  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;

    &:hover {
      background-color: $GRAY_HOVER;
    }

    &_disabled {
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }
}