@import '../../assets/styles/variables.scss';

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

  @media (max-width: ($SHOP_LAYOUT_MAX_WIDTH - 1px)) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: ($TABLET_LONG_WIDTH - 1px)) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  @media (max-width: ($TABLET_SHORT_WIDTH - 1px)) {
    grid-gap: 10px;
  }

  @media (max-width: ($MOBILE_XSMALL_WIDTH - 1px)) {
    grid-template-columns: repeat(1, 1fr);
  }
}