@import '../../assets/styles/variables.scss';

.product-card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 3px rgba(208, 205, 221, 0.5);
  transition: all .3s ease;

  @media (min-width: ($TABLET_LONG_WIDTH + 1px)) {
    border: 1px solid #fff;

    &:hover {
      box-shadow: none;
      border: 1px solid #4980DB;
    }
  }

  &__price {
    text-align: right;
  }

  &__open-modal-button {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__image {
    object-fit: cover;
    width: 200px;

    @media (max-width: 460px) {
      width: calc((100vw - 30px) / 2 - 20px);
    }

    @media (max-width: ($MOBILE_XSMALL_WIDTH - 1px)) {
      width: calc(100vw - 50px);
    }
  }

  &__error-message {
    display: flex;
    align-items: center;
    height: 200px;

    @media (max-width: 460px) {
      height: calc((100vw - 30px) / 2 - 20px);
    }
  }
}