@import '../../assets/styles/variables.scss';

$MODAL_DESKTOP_MAX_HEIGHT: 98vh;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000061;
  cursor: pointer;

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    max-height: $MODAL_DESKTOP_MAX_HEIGHT;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    cursor: default;

    @media (max-width: $TABLET_LONG_WIDTH) {
      max-width: unset;
      max-height: unset;
      width: 100vw;
      height: 100vh;
      padding: 40px 10px 10px;
      border-radius: 0;
    }
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 5px;
    background: transparent;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      background: $GRAY_HOVER;
    }
  }

  &__close-icon {
    display: block;
    height: 30px;
    width: 30px;
  }
}