@import '../assets/styles/variables.scss';

.shop-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: $SHOP_LAYOUT_MAX_WIDTH;
  margin: 0 auto;
  padding: 0 10px;

  @media (max-width: ($TABLET_SHORT_WIDTH - 1px)) {
    padding: 0;
  }

  &__content {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
}